*{
	margin:0px;
	padding: 0px;
	font-family: Ubuntu;
}
html{
	width:100%;
}
#items{
	width:100%;
}

#title{
	text-align: center;
}

.item{
	border: solid 1px black;
	width:12%;
	float: left;
	padding: 0px 6.25%;
	margin-bottom:20px;
}
.item p{
	display: block;
}
.item p.itemcount {
	width: auto;
	display: inline-block;
}
.item select{
	margin-left: 20px;
}
#promotions{
	clear: left;
}
#promotions p{
	text-align:center;
}
#promotions p.promotion{
	color: brown;
}

#submit {
	text-align: center;
}

#message{
}
